<!DOCTYPE html>
<html>
<head>
  <title><%= @title.try(:<<, ' | TrustyTimer') || 'TrustyTimer' %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <header style="padding: 0 10px 10px 10px;">
    <h1>TrustyTimer</h1>
  </header>
  <%= box(title: @title || 'Welcome', color: 'blue', links: app_links, padding: 0) do %>
      <%= content_tag(:div, flash_message_helper, class: 'flash-msg') if request.flash.any? %>
      <div style="padding:20px">
        <%= yield %>
      </div>
  <% end %>
</div>

</body>
</html>
